<style>
  table {
      border-collapse: collapse;
  }
  td {
      border-right: solid 2px white;
      border-bottom: solid 0px;
  }

</style>

<section>
    <table>
        <tr>
          <th>Test</th>
          <th>Test2</th>
          <th>Test3</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
        </tr>
      </table>
</section>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<h1>Matches</h1>

<h3>find you possible soulmate and rizz them up!</h3>

<!-- Create inputs for search and question -->
<br><br>
<input id="search" placeholder="Search">
<button onclick="search()">Search</button>
<select id="filter">
	<option>Filter by...</option>
	<option>location</option>
	<option>age</option>
	<option>college</option>
  <option>pronouns</option>
</select>
<br><br>


<input id="location" placeholder="location">
<input id="age" placeholder="age">
<input id="college" placeholder="college">
<input id="pronouns" placeholder="pronouns">
<button onclick="addDisc()">Post</button>
<input type = "checkbox"> anonymous post


<br><br>

<input id="id" placeholder="ID">
<button onclick="delete()">Delete</button>


<br><br>

<input id="id" placeholder="ID">
<input id="location" placeholder="location">
<input id="age" placeholder="age">
<input id="college" placeholder="college">
<input id="pronouns" placeholder="pronouns">
<button onclick="update()">Update</button>


<br><br>

<!-- Create table to display question posts -->
<table id="matchesTable" border="1" style="border-collapse: collapse;">
		<tr>
				<th>Id</th>
				<th>location</th>
				<th>age</th>
				<th>college</th>
				<th>pronouns</th>
		</tr>
</table>
