<section>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>Pickup Line Generator</title>
            <style>
            </style>
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
            <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>var define = null;</script>
            <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        </head>
        <body>
            <h1>Pickup Line Generator</h1>
            <label>Topic:</label>
            <input type="text" id="topic" placeholder="anything"/>
            <br>
            <label>Number of lines:</label>
            <input type="text" id="numLines" placeholder="1"/>
            <br>
            <button id="send">Generate</button>

            <br>
            <br>

            <img id="loading" src="../img/loading.gif" alt="loading" style="display:block;">

            <br>
            <br>
            <br>

            <table id="pickup-line-table">
              <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PICKUP LINE</th>
                    <th scope="col">TOPIC</th>
                    <th scope="col">WORD COUNT</th>
                </tr>
              </thead>
            </table>

            <script type="text/javascript" class="init">

              var idCount = 0;
              var toggle = true;

              var table = document.getElementById("pickup-line-table");
              var send = document.getElementById("send");

              function copyText(text) {
                navigator.clipboard.writeText(text);
              }

              function toggleLoading() {
                if (toggle) {
                  document.getElementById("loading").style.display = "block";
                  toggle = false;
                } else {
                  document.getElementById("loading").style.display = "none";
                  toggle = true;
                }
              }

              send.addEventListener("click", function() {

                var topic = document.getElementById("topic").value;
                var numLines = document.getElementById("numLines").value;

                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                // Insert url here
                toggleLoading();
                fetch("https://dating.dontntntnt.de/api/chat/generateLines", {
                  method: "POST",
                  headers: myHeaders,
                  mode: "cors",
                  cache: "default",
                  credentials: "include",
                  redirect: "manual",
                  body: JSON.stringify({
                  prompt: topic,
                  responses: numLines
                  }),              
                }).then(response => {
                  if (!response.ok) {
                    throw new Error("HTTP error " + response.status);
                  }
                  return response.json();
                }).then(data => {
                  for (const obj of data) {
                    line = obj.line;
                    line = line.replace("\"", "\\\"");
                    // line = line.replace("\'", "\\\'");
                    $('#pickup-line-table').append('<tr><td>' + 
                      idCount + '</td><td>' + 
                      "<a href=\"javascript:copyText('" + line + "')\">" + line + "</a>" + '</td><td>' + 
                      obj.topic + '</td><td>' +
                      obj.wordCount + '</td></tr>');
                      idCount++;
                  }
                  $("#pickup-line-table").DataTable();
                })
                .catch(error => {
                  console.error(error);
                })
                toggleLoading();
                });


            </script>

        </body>
    </html>
</section>